/data/
/.claude/
/CLAUDE.md
/tucha
/tucha.exe
/.idea/.gitignore
/.idea/data_source_mapping.xml
/.idea/dataSources.xml
/.idea/go.imports.xml
/.idea/modules.xml
/.idea/tucha.iml
/.idea/vcs.xml
/img/Generated Image February 05, 2026 - 2_42PM.png
/img/Generated Image February 05, 2026 - 2_44PM.png
/img/gude-2026-02-05.log
/img/logo-orig.png
/img/tucha.png
